<!DOCTYPE html>
<html>
  <head>
    <title>GitHub Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">
    <h1 class="jumotron text-center">GitHub Users</h1>
  
    <div class="container">
      <div class="col-xs-6 col-xs-offset-6">
        <form action="/" method="POST">
          <div class="input-group">
            <input type="text" name="username" class="form-control" placeholder="Enter a GitHub Username">
            <span class="input-group-btn">
              <button class="btn btn-success">Go!</button>
            </span>
          </div>
        </form>
      </div>
    </div>

    <hr>
    <div class="container">
      <% if (userData) { %>
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <img src="<%= userData.avatar_url %>" width="300">
            <h2><%= userData.login %></h2>
          </div>
          <div class="panel-body">
            <h3>Repos:</h3>
            <div class="list-group">
              <% userData.repos.forEach(function (repo){ %>
              <a href="<%=repo.html_url %>" target="_blank">
                <%=repo.name %>
              </a>
              <%});%>
            </div>
          </div>
        </div>
      <% } else { %>
        <h3 class="text-center text-info">
          Submit a GitHub username!
        </h3>
      <% } %>
    </div>
  </body>
</html>
